# formatters
.eslintrc.js
.prettierrc
.gitattributes
# source
src
tsconfig.json

# temporary files
tmp

# github files
.github

# development folders
scripts
coverage
test

# environment files
.env

# Not required type files
dist/schema/builders/*.d.ts